In [1]:
import numpy as np
import pandas as pd

In [2]:
import numpy  as np
data = {
    'Year':[ 200, np.NAN,300,500,np.NAN,300],
    'Account':['Operation','Finace','Marketing','Operation','Finace','Marketing']
}
df =pd.DataFrame(data)
df

    Year    Account
0  200.0  Operation
1    NaN     Finace
2  300.0  Marketing
3  500.0  Operation
4    NaN     Finace
5  300.0  Marketing

In [3]:
df1 =df.replace(to_replace= np.NaN,value = 0)
df1

    Year    Account
0  200.0  Operation
1    0.0     Finace
2  300.0  Marketing
3  500.0  Operation
4    0.0     Finace
5  300.0  Marketing

In [4]:
pd.DataFrame( np.where( df["Account"]=='Operation',"Presence","Absence" ),columns =['Acc'])

        Acc
0  Presence
1   Absence
2   Absence
3  Presence
4   Absence
5   Absence

In [5]:
df['Year'].where(df['Year']>100 ,lambda x: x**2)

0    200.0
1      NaN
2    300.0
3    500.0
4      NaN
5    300.0
Name: Year, dtype: float64

In [6]:
l= []
for r in df['Account']:
    if r =='Operation':
        print('Ops')
    elif(r=="Finance"):
        print('Fin')
    else:
        print('Mark')

Ops
Mark
Mark
Ops
Mark
Mark