In [1]:
import pandas as pd

dt = pd.DataFrame(['2021-01-01','2021-01-02','2021-01-03','2021-01-04','2021-01-05','2021-01-06','2021-01-07',
'2021-01-08','2021-01-09','2021-01-10','2021-01-11','2021-01-12','2021-01-13','2021-01-14','2021-01-15',
'2021-01-16','2021-01-17','2021-01-18','2021-01-18','2021-01-19','2021-01-20','2021-01-21','2021-01-22',
'2021-01-23','2021-01-24','2021-01-25','2021-01-26','2021-01-27','2021-01-28','2021-01-29','2021-01-30',
'2021-01-31'],columns = ["Date"])
dt.head()

         Date
0  2021-01-01
1  2021-01-02
2  2021-01-03
3  2021-01-04
4  2021-01-05

In [2]:
dt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    32 non-null     object
dtypes: object(1)
memory usage: 384.0+ bytes

In [3]:
pd.to_datetime(dt['Date'])

0    2021-01-01
1    2021-01-02
2    2021-01-03
3    2021-01-04
4    2021-01-05
5    2021-01-06
6    2021-01-07
7    2021-01-08
8    2021-01-09
9    2021-01-10
10   2021-01-11
11   2021-01-12
12   2021-01-13
13   2021-01-14
14   2021-01-15
15   2021-01-16
16   2021-01-17
17   2021-01-18
18   2021-01-18
19   2021-01-19
20   2021-01-20
21   2021-01-21
22   2021-01-22
23   2021-01-23
24   2021-01-24
25   2021-01-25
26   2021-01-26
27   2021-01-27
28   2021-01-28
29   2021-01-29
30   2021-01-30
31   2021-01-31
Name: Date, dtype: datetime64[ns]

In [4]:
dt['Date'] = pd.to_datetime(dt['Date'])

In [5]:
dt.dtypes

Date    datetime64[ns]
dtype: object

In [6]:
dt["Date"].dt.year

0     2021
1     2021
2     2021
3     2021
4     2021
5     2021
6     2021
7     2021
8     2021
9     2021
10    2021
11    2021
12    2021
13    2021
14    2021
15    2021
16    2021
17    2021
18    2021
19    2021
20    2021
21    2021
22    2021
23    2021
24    2021
25    2021
26    2021
27    2021
28    2021
29    2021
30    2021
31    2021
Name: Date, dtype: int64

In [7]:
dt["Date"].dt.month

0     1
1     1
2     1
3     1
4     1
5     1
6     1
7     1
8     1
9     1
10    1
11    1
12    1
13    1
14    1
15    1
16    1
17    1
18    1
19    1
20    1
21    1
22    1
23    1
24    1
25    1
26    1
27    1
28    1
29    1
30    1
31    1
Name: Date, dtype: int64

In [8]:
dt["Date"].dt.day

0      1
1      2
2      3
3      4
4      5
5      6
6      7
7      8
8      9
9     10
10    11
11    12
12    13
13    14
14    15
15    16
16    17
17    18
18    18
19    19
20    20
21    21
22    22
23    23
24    24
25    25
26    26
27    27
28    28
29    29
30    30
31    31
Name: Date, dtype: int64

In [9]:
l = [k.day_name() for k in dt['Date']]
pd.DataFrame(l,columns= ['M'])

            M
0      Friday
1    Saturday
2      Sunday
3      Monday
4     Tuesday
5   Wednesday
6    Thursday
7      Friday
8    Saturday
9      Sunday
10     Monday
11    Tuesday
12  Wednesday
13   Thursday
14     Friday
15   Saturday
16     Sunday
17     Monday
18     Monday
19    Tuesday
20  Wednesday
21   Thursday
22     Friday
23   Saturday
24     Sunday
25     Monday
26    Tuesday
27  Wednesday
28   Thursday
29     Friday
30   Saturday
31     Sunday

In [10]:
dat = []
dt['Year'] = dt['Date'].dt.year
dt['Month'] = dt['Date'].dt.month
dt['Day'] = dt['Date'].dt.day

for i in dt['Date']:
    dat.append(i.day_name())
dt["Day_name"] = pd.DataFrame(dat)
dt

         Date  Year  Month  Day   Day_name
0  2021-01-01  2021      1    1     Friday
1  2021-01-02  2021      1    2   Saturday
2  2021-01-03  2021      1    3     Sunday
3  2021-01-04  2021      1    4     Monday
4  2021-01-05  2021      1    5    Tuesday
5  2021-01-06  2021      1    6  Wednesday
6  2021-01-07  2021      1    7   Thursday
7  2021-01-08  2021      1    8     Friday
8  2021-01-09  2021      1    9   Saturday
9  2021-01-10  2021      1   10     Sunday
10 2021-01-11  2021      1   11     Monday
11 2021-01-12  2021      1   12    Tuesday
12 2021-01-13  2021      1   13  Wednesday
13 2021-01-14  2021      1   14   Thursday
14 2021-01-15  2021      1   15     Friday
15 2021-01-16  2021      1   16   Saturday
16 2021-01-17  2021      1   17     Sunday
17 2021-01-18  2021      1   18     Monday
18 2021-01-18  2021      1   18     Monday
19 2021-01-19  2021      1   19    Tuesday
20 2021-01-20  2021      1   20  Wednesday
21 2021-01-21  2021      1   21   Thursday
22 2021-01-22  2021      1   22     Friday
23 2021-01-23  2021      1   23   Saturday
24 2021-01-24  2021      1   24     Sunday
25 2021-01-25  2021      1   25     Monday
26 2021-01-26  2021      1   26    Tuesday
27 2021-01-27  2021      1   27  Wednesday
28 2021-01-28  2021      1   28   Thursday
29 2021-01-29  2021      1   29     Friday
30 2021-01-30  2021      1   30   Saturday
31 2021-01-31  2021      1   31     Sunday

In [11]:
dt.groupby(['Day_name'])['Month'].size()

Day_name
Friday       5
Monday       5
Saturday     5
Sunday       5
Thursday     4
Tuesday      4
Wednesday    4
Name: Month, dtype: int64

In [12]:
dt.loc[3,'Date']

Timestamp('2021-01-04 00:00:00')

In [13]:
dt.loc[21,'Date'].day_name()

'Thursday'

In [14]:
dt.loc[21,'Date'].month_name()

'January'

In [15]:
dt['Date'].map(lambda d: d.day_name())

0        Friday
1      Saturday
2        Sunday
3        Monday
4       Tuesday
5     Wednesday
6      Thursday
7        Friday
8      Saturday
9        Sunday
10       Monday
11      Tuesday
12    Wednesday
13     Thursday
14       Friday
15     Saturday
16       Sunday
17       Monday
18       Monday
19      Tuesday
20    Wednesday
21     Thursday
22       Friday
23     Saturday
24       Sunday
25       Monday
26      Tuesday
27    Wednesday
28     Thursday
29       Friday
30     Saturday
31       Sunday
Name: Date, dtype: object

In [16]:
dt['Date'].map(lambda d: d.day_name())=='Tuesday'

0     False
1     False
2     False
3     False
4      True
5     False
6     False
7     False
8     False
9     False
10    False
11     True
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19     True
20    False
21    False
22    False
23    False
24    False
25    False
26     True
27    False
28    False
29    False
30    False
31    False
Name: Date, dtype: bool

In [17]:
dt[dt['Date'].map(lambda d: d.day_name())=='Tuesday']

         Date  Year  Month  Day Day_name
4  2021-01-05  2021      1    5  Tuesday
11 2021-01-12  2021      1   12  Tuesday
19 2021-01-19  2021      1   19  Tuesday
26 2021-01-26  2021      1   26  Tuesday

In [18]:
dt[dt['Date'].map(lambda d: d.day_name())=='Tuesday'].shape

(4, 5)

In [19]:
import time

In [20]:
time.time()

1675367876.1416185

In [21]:
time.ctime()

'Thu Feb  2 22:57:56 2023'

In [22]:
a =time.localtime()
b= time.mktime(a)
b

1675367876.0

In [23]:
c= time.asctime(a)
c

'Thu Feb  2 22:57:56 2023'

In [24]:
help(time.strftime)

Help on built-in function strftime in module time:

strftime(...)
    strftime(format[, tuple]) -> string

    Convert a time tuple to a string according to a format specification.
    See the library reference manual for formatting codes. When the time tuple
    is not present, current time as returned by localtime() is used.

    Commonly used format codes:

    %Y  Year with century as a decimal number.
    %m  Month as a decimal number [01,12].
    %d  Day of the month as a decimal number [01,31].
    %H  Hour (24-hour clock) as a decimal number [00,23].
    %M  Minute as a decimal number [00,59].
    %S  Second as a decimal number [00,61].
    %z  Time zone offset from UTC.
    %a  Locale's abbreviated weekday name.
    %A  Locale's full weekday name.
    %b  Locale's abbreviated month name.
    %B  Locale's full month name.
    %c  Locale's appropriate date and time representation.
    %I  Hour (12-hour clock) as a decimal number [01,12].
    %p  Locale's equivalent of either AM or PM.

    Other codes may be available on your platform.  See documentation for
    the C library strftime function.

In [25]:
time.strftime("%m/%d/%Y")

'02/02/2023'

In [26]:
y= "08 August 2019"
s = time.strptime(y,"%d %B %Y")
s

time.struct_time(tm_year=2019, tm_mon=8, tm_mday=8, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=3, tm_yday=220, tm_isdst=-1)

In [27]:
import datetime

In [28]:
print(datetime.datetime(2019,6,7,4,30,54,678))

2019-06-07 04:30:54.000678

In [29]:
v =datetime.datetime.now()

In [30]:
v.year

2023

In [31]:
v.month

2

In [32]:
v.hour

22

In [33]:
datetime.date(2023,7,5)

datetime.date(2023, 7, 5)

In [34]:
datetime.time(3,45,23)

datetime.time(3, 45, 23)

In [35]:
b1 = datetime.timedelta(days=20)
b2 = datetime.timedelta(days=30)
b3= b1-b2
print(b3)
print(type(b3))

-10 days, 0:00:00
<class 'datetime.timedelta'>

In [36]:
import datetime

In [37]:
dir(datetime)

['MAXYEAR',
 'MINYEAR',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'date',
 'datetime',
 'datetime_CAPI',
 'sys',
 'time',
 'timedelta',
 'timezone',
 'tzinfo']

In [38]:
gvr = datetime.date(1956,1,31)
gvr

datetime.date(1956, 1, 31)

In [39]:
gvr.year

1956

In [40]:
gvr.month

1

In [41]:
gvr.day

31

In [42]:
mill = datetime.date(2000,1,1)
dt = datetime.timedelta(100)
print(mill + dt)

2000-04-10

In [43]:
print(gvr.strftime("%A ,%B,%d,%Y"))

Tuesday ,January,31,1956

In [44]:
weekmask = " Mon Wed Fri "
business_days=pd.bdate_range(start =datetime.datetime(2022,1,1),
                            end= datetime.datetime(2022,12,31),
                            freq="C",
                            weekmask=weekmask
                            )
business_days

DatetimeIndex(['2022-01-03', '2022-01-05', '2022-01-07', '2022-01-10',
               '2022-01-12', '2022-01-14', '2022-01-17', '2022-01-19',
               '2022-01-21', '2022-01-24',
               ...
               '2022-12-09', '2022-12-12', '2022-12-14', '2022-12-16',
               '2022-12-19', '2022-12-21', '2022-12-23', '2022-12-26',
               '2022-12-28', '2022-12-30'],
              dtype='datetime64[ns]', length=156, freq='C')